body {
  background-color: #C7E3F2;
  display: inline-flex;
  justify-content: center;
  width:100%;
}

.main {
  margin-top: 12.5%;
  display: inline-flex;
  justify-content: center;

  width: 35%;
  height: auto;
  background-color: white;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
}

.main a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 45px;
  background-color: #277DE3;
  border-radius: 2px;
  font-family: "Roboto";
  font-size: 20px;
}

.main a:hover {
  box-shadow: 5px 10px 8px #ebebeb;
}
